Question-1

In [12]:
email_address = "nandeesh@jindal.co.in"

#just use split function multiple times

address_list = email_address.split("@")
companylist = address_list[1].split(".")

print(companylist[0])

jindal

Question-2

In [23]:
items = input()
words = [x for x in items.split(",")]
words.sort()
print(",".join(words))

nandeesh,nagesh,nandini.nagendra,rohan ,abhishek
abhishek,nagesh,nandeesh,nandini.nagendra,rohan

Question-3

SETS

In [25]:
#Access items
a = {"apple", "banana", "cherry"}

for x in a:
  print(a)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry'}

In [26]:
# ADD ITEMS
a = {"apple", "banana", "cherry"}
a.add("orange")

print(a)

{'orange', 'banana', 'apple', 'cherry'}

In [27]:
# length of set
a = {"apple", "banana", "cherry"}

print(len(a))

3

In [28]:
# join sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [29]:
# update
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [34]:
# set() constructor
a = set(("nandeesh", "chetan", "cheeks")) # note the double round-brackets
print(a)

{'cheeks', 'nandeesh', 'chetan'}

Question-4

In [37]:
# Find the missing number in the given list
def getMissingNumber(A):
     m = len(A) + 1
     total = m * (m + 1) // 2
     return total - sum(A)


if __name__ == '__main__':

	A = [1, 2, 3, 4, 5, 7, 8, 9, 10]

	print("The missing number is", getMissingNumber(A))

The missing number is 6

Question -5

In [41]:
# Function to remove duplicates 
def removeDuplicates (list1):
	# one more list
	list2 = []

	for n in list1:
		if n not in list2:
			list2.append (n)
	return list2

list1 = [10, 20, 10, 20, 30, 40, 30, 50]

print(list1) 
print(removeDuplicates(list1))

[10, 20, 10, 20, 30, 40, 30, 50]
[10, 20, 30, 40, 50]