Question-1

In [ ]:
start = 0
end = 80
  
for val in range(start, end + 1): 
    if val > 1: 
        for n in range(2, val//2 + 2): 
            if (val % n) == 0: 
                break
            else: 
                if n == val//2 + 1: 
                    print(val)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79

Question-2

In [ ]:
# functions of Strings.
# 1)
a = "Hello, World!"
print(len(a)) #len() functions returns the length of string.
# 2)
a = "Hello, World!"
print(a.lower()) #lower() method returns the string in lower case.

# 3)
a = "Hello, World!"
print(a.upper()) # upper() method return the string in upper case.
# 4)
a = "Hello, World!"
print(a.replace("H", "J")) # replace() method replace the string with another string.
# 5)
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!'] # split() method replaces the string into substring if it find instances of the seperator.
# 6
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))  # use format() method to insert numbers into strings.
# 7)
string = "nandeesh."
capitalized_string = string.capitalize()
print('Old String: ', string)
print('Capitalized String:', capitalized_string) # capitalise() is used to capitalise the first letter of the string.

# 8)
str = 'nandeesh\t12345\tabhishek'
result = str.expandtabs()
print(result)                                  # expand tabs is used to seperate each strings.

# 9)
name = "N2345abc"
print(name.isalnum())                         # isalnum() is used to to find out number of alphanumeric in a given sentence(or any input).

# contains whitespace
name = "nandeesh 751"
print(name.isalnum())

# 10)
s = "132358"
print(s.isdecimal())
# contains alphabets
s = "32nandeesh"
print(s.isdecimal())                           # isDecimal() returns True if all the characters are decimals (0-9)

# 11)
s = '   \t'
print(s.isspace())
s = ' a '
print(s.isspace())

# 12)
number = [3, 2, 8, 5, 10, 6]
largest_number = max(number);
print("The largest number is:", largest_number)

# 13)
number = [3, 2, 8, 5, 10, 6]
smallest_number = min(number);
print("The smallest number is:", smallest_number)

# 14)
print(float(10))
print(float(11.22))

# 15)
z = complex('5')                    # complex() is used to print the numbers in complex form.
print(z)

13
hello, world!
HELLO, WORLD!
Jello, World!
['Hello', ' World!']
My name is John, and I am 36
Old String:  nandeesh.
Capitalized String: Nandeesh.
nandeesh        12345   abhishek
True
False
True
False
True
False
The largest number is: 10
The smallest number is: 2
10.0
11.22
(5+0j)

Question-3

In [ ]:
# to check whether string is palindrome,anagram and none  of them.

def isPalindrome(x): 
    return x == x[::-1]
# Driver code 
s=input("Enter the string:")
ans=isPalindrome(s)
 
if ans: 
    print("The string is palindrome") 
else if (s!=ans):
  print("The string is anagram")
else:
  print("none of them")

SyntaxError: ignored

Question-4

In [ ]:
# initializing wrong_chars_list 
wrong_chars = [',', ':', '!', "*"] 
  
# initializing  string  
string = "Nan,Dee:sh!and*is"
  
# printing original string  
print ("Original String : " + string) 
   
for i in wrong_chars : 
    string = string.replace(i, '') 
  
# printing resultant string  
print("resultant string :" +string.lower())

Original String : Nan,Dee:sh!and*is
resultant string :nandeeshandis