# Project 2  Attrittion Rate Analysis

In [17]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [18]:
attrition=pd.read_csv("general_data (1).csv")
attrition.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [19]:
label=preprocessing.LabelEncoder()
attrition["Attrition"]=label.fit_transform(attrition["Attrition"])
attrition["Gender"]=label.fit_transform(attrition["Gender"])
attrition.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [20]:
attrition.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [21]:
print(attrition["NumCompaniesWorked"].mode())
print(attrition["TotalWorkingYears"].mean())

0    1.0
dtype: float64
11.279936378095888

In [22]:
attrition["NumCompaniesWorked"]=np.where(attrition["NumCompaniesWorked"].isnull(),1.0,attrition["NumCompaniesWorked"])
attrition["TotalWorkingYears"]=np.where(attrition["TotalWorkingYears"].isnull(),11,attrition["TotalWorkingYears"])

# Random Forest Test

In [23]:
 attrition.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)
faetures=['Age','DistanceFromHome','Education','Gender','NumCompaniesWorked','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsWithCurrManager','YearsSinceLastPromotion','PercentSalaryHike']

In [25]:
rf_model.fit(X=attrition[faetures],y=attrition["Attrition"])
print("OOB Accuracy:")
print(rf_model.oob_score_)

OOB Accuracy:
0.999092970521542

In [26]:
for faetures,imp in zip(faetures,rf_model.feature_importances_):
    print(faetures,imp)

Age 0.15726542326707396
DistanceFromHome 0.12637724693090022
Education 0.06937390793141039
Gender 0.029656624018557776
NumCompaniesWorked 0.08292867255789302
TotalWorkingYears 0.1193916652417737
TrainingTimesLastYear 0.0735106891748738
YearsAtCompany 0.09190639038195725
YearsWithCurrManager 0.07236779024252366
YearsSinceLastPromotion 0.06097682678732933
PercentSalaryHike 0.11624476346570696

# Descision Tree

In [29]:
predictors=pd.DataFrame([attrition["Age"],attrition["DistanceFromHome"],attrition["TotalWorkingYears"],attrition["PercentSalaryHike"]]).T
tree_model=tree.DecisionTreeClassifier(max_depth=6)
tree_model.fit(X=predictors,y=attrition['Attrition'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [30]:
with open("AttriTree.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['Age','DistanceFromHome','TotalWorkingYears','PercentSalaryHike'],out_file=f)

In [31]:
from sklearn.tree import export_text
r=export_text(tree_model,feature_names=['Age','DistanceFromHome','TotalWorkingYears','PercentSalaryHike'])
print(r)

|--- TotalWorkingYears <= 1.50
|   |--- Age <= 33.50
|   |   |--- Age <= 26.50
|   |   |   |--- PercentSalaryHike <= 13.50
|   |   |   |   |--- DistanceFromHome <= 1.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- DistanceFromHome >  1.50
|   |   |   |   |   |--- PercentSalaryHike <= 12.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- PercentSalaryHike >  12.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- PercentSalaryHike >  13.50
|   |   |   |   |--- Age <= 18.50
|   |   |   |   |   |--- PercentSalaryHike <= 20.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- PercentSalaryHike >  20.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  18.50
|   |   |   |   |   |--- DistanceFromHome <= 12.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- DistanceFromHome >  12.50
|   |   |   |   |   |   |--- class: 1
|   |   |--- Age >  26.50
|   |   |   |--- DistanceFromHome <= 12.50
|   |   |   |   |--- PercentSalaryHike <= 20.00
|   |   |   |   |   |--- PercentSalaryHike <= 18.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- PercentSalaryHike >  18.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- PercentSalaryHike >  20.00
|   |   |   |   |   |--- class: 0
|   |   |   |--- DistanceFromHome >  12.50
|   |   |   |   |--- DistanceFromHome <= 28.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- DistanceFromHome >  28.50
|   |   |   |   |   |--- class: 0
|   |--- Age >  33.50
|   |   |--- DistanceFromHome <= 2.50
|   |   |   |--- Age <= 34.50
|   |   |   |   |--- class: 0
|   |   |   |--- Age >  34.50
|   |   |   |   |--- PercentSalaryHike <= 16.00
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- PercentSalaryHike >  16.00
|   |   |   |   |   |--- class: 0
|   |   |--- DistanceFromHome >  2.50
|   |   |   |--- class: 0
|--- TotalWorkingYears >  1.50
|   |--- Age <= 33.50
|   |   |--- TotalWorkingYears <= 8.50
|   |   |   |--- DistanceFromHome <= 26.50
|   |   |   |   |--- DistanceFromHome <= 1.50
|   |   |   |   |   |--- PercentSalaryHike <= 13.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- PercentSalaryHike >  13.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- DistanceFromHome >  1.50
|   |   |   |   |   |--- PercentSalaryHike <= 22.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- PercentSalaryHike >  22.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- DistanceFromHome >  26.50
|   |   |   |   |--- PercentSalaryHike <= 16.50
|   |   |   |   |   |--- TotalWorkingYears <= 6.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- TotalWorkingYears >  6.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- PercentSalaryHike >  16.50
|   |   |   |   |   |--- TotalWorkingYears <= 7.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- TotalWorkingYears >  7.50
|   |   |   |   |   |   |--- class: 0
|   |   |--- TotalWorkingYears >  8.50
|   |   |   |--- PercentSalaryHike <= 12.50
|   |   |   |   |--- TotalWorkingYears <= 12.50
|   |   |   |   |   |--- Age <= 32.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  32.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- TotalWorkingYears >  12.50
|   |   |   |   |   |--- PercentSalaryHike <= 11.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- PercentSalaryHike >  11.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- PercentSalaryHike >  12.50
|   |   |   |   |--- PercentSalaryHike <= 13.50
|   |   |   |   |   |--- DistanceFromHome <= 20.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- DistanceFromHome >  20.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- PercentSalaryHike >  13.50
|   |   |   |   |   |--- PercentSalaryHike <= 20.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- PercentSalaryHike >  20.50
|   |   |   |   |   |   |--- class: 0
|   |--- Age >  33.50
|   |   |--- TotalWorkingYears <= 39.00
|   |   |   |--- DistanceFromHome <= 24.50
|   |   |   |   |--- TotalWorkingYears <= 3.50
|   |   |   |   |   |--- Age <= 48.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  48.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- TotalWorkingYears >  3.50
|   |   |   |   |   |--- DistanceFromHome <= 14.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- DistanceFromHome >  14.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- DistanceFromHome >  24.50
|   |   |   |   |--- TotalWorkingYears <= 5.50
|   |   |   |   |   |--- TotalWorkingYears <= 4.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- TotalWorkingYears >  4.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- TotalWorkingYears >  5.50
|   |   |   |   |   |--- class: 0
|   |   |--- TotalWorkingYears >  39.00
|   |   |   |--- class: 1