# Project 3:Decision tree for Bank loan

In [10]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [11]:
bank=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name="Data")
bank.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [12]:
bank.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

# Random Forest test

In [13]:
bank.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [14]:
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)
features=['Age', 'Experience', 'Income','Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [15]:
rf_model.fit(X=bank[features],y=bank['Personal Loan'])
print("OOB Accuracy:")
print(rf_model.oob_score_)

OOB Accuracy:
0.9884

In [16]:
for features,imp in zip(features,rf_model.feature_importances_):
    print(features,imp)

Age 0.044580754544913524
Experience 0.04386750970901012
Income 0.3423460361975777
Family 0.09611608981468761
CCAvg 0.1852199728015288
Education 0.16622854175933582
Mortgage 0.04337469690806207
Securities Account 0.005691276283546143
CD Account 0.05416285357622899
Online 0.008535993106231028
CreditCard 0.009876275298878285

# From above we infer that Income,family,CCAvg and Education are Higher Importance

# Decision Tree

In [17]:
predictors=pd.DataFrame([bank['Income'],bank['Family'],bank['CCAvg'],bank['Education']]).T
tree_model=tree.DecisionTreeClassifier(max_depth=4)
tree_model.fit(X=predictors,y=bank['Personal Loan'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [18]:
from sklearn.tree import export_text
r=export_text(tree_model,feature_names=['Income','Family','CCAvg','Education'])
print(r)

|--- Income <= 113.50
|   |--- CCAvg <= 2.95
|   |   |--- Income <= 106.50
|   |   |   |--- class: 0
|   |   |--- Income >  106.50
|   |   |   |--- Family <= 3.50
|   |   |   |   |--- class: 0
|   |   |   |--- Family >  3.50
|   |   |   |   |--- class: 0
|   |--- CCAvg >  2.95
|   |   |--- Income <= 82.50
|   |   |   |--- CCAvg <= 3.55
|   |   |   |   |--- class: 0
|   |   |   |--- CCAvg >  3.55
|   |   |   |   |--- class: 0
|   |   |--- Income >  82.50
|   |   |   |--- Education <= 1.50
|   |   |   |   |--- class: 0
|   |   |   |--- Education >  1.50
|   |   |   |   |--- class: 1
|--- Income >  113.50
|   |--- Education <= 1.50
|   |   |--- Family <= 2.50
|   |   |   |--- class: 0
|   |   |--- Family >  2.50
|   |   |   |--- class: 1
|   |--- Education >  1.50
|   |   |--- Income <= 116.50
|   |   |   |--- CCAvg <= 2.15
|   |   |   |   |--- class: 0
|   |   |   |--- CCAvg >  2.15
|   |   |   |   |--- class: 1
|   |   |--- Income >  116.50
|   |   |   |--- class: 1