# K-NN Assignment

In [14]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import neighbors
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [15]:
data=pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
label=preprocessing.LabelEncoder()
data['Sex']=label.fit_transform(data['Sex'])

In [17]:
y=data['Survived']
X=data.drop(['Survived','PassengerId','Name','Ticket','Cabin','Embarked'],axis=1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [18]:
knn=neighbors.KNeighborsClassifier(n_neighbors=2)
print('Model accuracy:',knn.fit(X_train,y_train).score(X_test,y_test))
y_pred=knn.predict(X_test)
print('Confusion matrix:',confusion_matrix(y_test,y_pred))

Model accuracy: 0.6797752808988764
Confusion matrix: [[93 12]
 [45 28]]

# SVM Assignment

In [19]:
from sklearn import svm

In [20]:
def svm_data(X=data.drop(['Survived','PassengerId','Name','Ticket','Cabin','Embarked'],axis=1),y=data['Survived']):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
    clf=svm.SVC(gamma=0.01,C=100)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    print("Accuracy score:",accuracy_score(y_test,y_pred,normalize=True))
    print("Confusion matrix:",confusion_matrix(y_test,y_pred))

# DV=Survived and IDV=Remaining

In [21]:
svm_data()

Accuracy score: 0.7078651685393258
Confusion matrix: [[81 24]
 [28 45]]

In [22]:
svm_data(X=data.drop(['Pclass','PassengerId','Name','Ticket','Cabin','Embarked'],axis=1),y=data['Pclass'])

Accuracy score: 0.9213483146067416
Confusion matrix: [[44  3  0]
 [ 5 26  4]
 [ 0  2 94]]

# DV=Sex and IDV=Remaining

In [23]:
svm_data(X=data.drop(['Sex','PassengerId','Name','Ticket','Cabin','Embarked'],axis=1),y=data['Sex'])

Accuracy score: 0.6910112359550562
Confusion matrix: [[34 29]
 [26 89]]

# DV=SibSp and IDV=Remaining

In [24]:
svm_data(X=data.drop(['SibSp','PassengerId','Name','Ticket','Cabin','Embarked'],axis=1),y=data['SibSp'])

Accuracy score: 0.797752808988764
Confusion matrix: [[112  11   0   0   1   0   0]
 [ 14  24   2   0   0   0   0]
 [  3   0   1   0   0   0   0]
 [  0   3   1   1   1   0   0]
 [  0   0   0   0   1   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]

# DV= Parch and IDV=RemainingÂ¶

In [25]:
svm_data(X=data.drop(['Parch','PassengerId','Name','Ticket','Cabin','Embarked'],axis=1),y=data['Parch'])

Accuracy score: 0.8033707865168539
Confusion matrix: [[128   1   4   0   0   0]
 [ 13   8   1   0   0   1]
 [  7   6   7   0   0   0]
 [  0   0   1   0   0   0]
 [  1   0   0   0   0   0]
 [  0   0   0   0   0   0]]